/*
 * Reset (Eric Meyer)
 * -----------------------------
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin          : 0;
  padding         : 0;
  border          : 0;
  font-size       : 100%;
  font            : inherit;
  vertical-align  : baseline;
  text-decoration : none;
  outline         : none;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display : block;
}
ol, ul {
  list-style : none;
}
blockquote, q {
  quotes : none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content : '';
  content : none;
}
table {
  border-collapse : collapse;
  border-spacing  : 0;
}



/*
 * Fonts
 * -----------------------------
 */

@font-face {
  font-family: 'Tomahack';
  src: url('../fonts/Tomahack.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Tomahack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Tomahack.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Tomahack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Tomahack.svg#7fd5a18e89f7818327fe30f3ca00b978') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Edmondsans Regular';
  src: url('../fonts/Edmondsans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Edmondsans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Edmondsans-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Edmondsans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Edmondsans-Regular.svg#7bbba12411bdd1eb69cf9e8a612ada82') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'caohim';
  src: url('../fonts/caohim.eot?-tl6tbo');
  src: url('../fonts/caohim.eot?#iefix-tl6tbo') format('embedded-opentype'),
       url('../fonts/caohim.ttf?-tl6tbo') format('truetype'),
       url('../fonts/caohim.woff?-tl6tbo') format('woff'),
       url('../fonts/caohim.svg?-tl6tbo#caohim') format('svg');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../fonts/Vollkorn-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Vollkorn-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Vollkorn-Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Vollkorn-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Vollkorn-Italic.svg#98961ae4718e843253f083e38d65264f') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

[class^="i-"], [class*=" i-"] {
  font-family: 'caohim';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-letter:before {
  content: "\e600";
}
/*.i-mail:before {
  content: "\e601";
}*/
.i-twitter:before {
  content: "\e602";
}
/*.i-twitter2:before {
  content: "\e603";
}
.i-github2:before {
  content: "\e604";
}*/
/*.i-linkedin2:before {
  content: "\e605";
}*/
.i-linkedin:before {
  content: "\e606";
}
.i-codepen:before {
  content: "\e607";
}


/*
 * Useful
 * -----------------------------
 */

.u-left       { float: left !important; }
.u-right      { float: right !important; }

.u-text-left      { text-align: left !important; }
.u-text-right     { text-align: right !important; }
.u-text-center    { text-align: center !important; }

.u-outline,
.u-placeholder    { display: none !important; }

.u-table {
  display: table;
  width: 100%;
}
.u-table-cell {
  display: table-cell;
}

.u-pos-relative     { position: relative; }
.u-half             { width   : 50%; }
.u-two-third        { width   : 66%; }
.u-third            { width   : 33.33%; }
.u-one-fifth        { width   : 20%; }
.u-full             { width   : 100%; }
.u-row {
  max-width: 760px;
  padding: 120px 20px;
  margin: 0 auto;
}
.u-row + .u-row     { padding-top: 0; }
.u-row--followed    { padding-bottom: 80px; }

.u-padding-r        { padding-right: 20px; }
.u-padding-l        { padding-left: 20px; }

.u-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.u-clearfix {
  overflow: hidden;
  *zoom: 1;
}

.theme--blue h2,
.theme--blue h3,
.theme--blue h4 {
  color: #d1e9fc;
}
.theme--blue p,
.theme--blue a,
.theme--blue li {
  color: #8CB5C8;
}
.theme--blue a:hover,
.theme--blue a:active,
.theme--blue a:hover {
  color: #FFF;
}



/*
 * Generic
 * -----------------------------
 */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.7em;
  outline: none;
}
html {
  background: #FFF url("../img/fjord-reine.jpg") repeat-x center top;
  background-attachment: fixed;
  /*-webkit-background-size: cover;
  background-size: cover;*/
  height: 100%;
  min-height: 700px;
  width: 100%;
}
body {
  font: italic normal 20px/1.5em 'Vollkorn', Georgia, Palatino, "Times New Roman", Times, serif;
  color: #101d4d;
  text-align: left;
}

h1 {
  font: 400 72px/1em 'Tomahack', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  color: #16348c;
}
h2, h3 {
  font: 400 30px 'Tomahack', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  color: #101d4d;
  margin: 20px 0 30px;
}
h4 {
  /*font: 400 22px 'Edmondsans', Helvetica, 'Helvetica Neue', Arial, sans-serif;*/
}

p {
  margin-bottom: 25px;
}

a {
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #16348c;
}

blockquote {
  position: relative;
  font-size: 36px;
  line-height: 1.3em;
  padding: 0 65px;
}
blockquote:before {
  content: '”';
  font-size: 150px;
  position: absolute;
  top: -90px;
  left: 0;
  z-index: -1;
  color: #d1e9fc;
}
blockquote:after {
  content: '„';
  font-size: 150px;
  position: absolute;
  bottom: -90px;
  right: 0;
  z-index: -1;
  color: #d1e9fc;
}



/*
 * Components
 * -----------------------------
 */

.site-header {
  position: relative;
  z-index: 8;
  min-height: 650px;
}
.site-header .u-row {
  padding-top: 80px;
  position: relative;
}
.author-title {
  font: normal 30px 'Vollkorn', Georgia, Palatino, "Times New Roman", Times, serif;
  margin-top: 5px;
  margin-bottom: 20px;
  text-transform: none;
  color: #8CB5C8;
}

.social-item {
  display: inline-block;
}
.social-link {
  font-size: 22px;
  color: #8CB5C8;
  text-decoration: none;
  margin: 0 10px;
}

.about {
  background-color: #bad7e4;
}
.intro {
  font-weight: bold;
}

.clients {
  position: relative;
  background-color: #101d4d;
}
.clients:before {
  content: '';
  background: transparent url("../img/sep-middle-blue-light.png") repeat-x center top;
  position: absolute;
  top: -69px;
  left: 50%;
  margin-left: -107px;
  width: 215px;
  height: 125px;
}
.clients:after {
  content: '';
  background: transparent url("../img/sep-top-blue-light.png") repeat-x center top;
  position: absolute;
  bottom: -11px;
  left: 50%;
  margin-left: -107px;
  width: 215px;
  height: 47px;
}
.clients-list {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.recognition {
  padding: 20px 0;
}
.recognition + .recognition {
  border-top: 1px solid #4e6a90;
}
.recognition-project {
  font: normal 25px 'Edmondsans Regular', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 5px;
}
.recognition-title {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 0;
}

.site-main {
  position: relative;
  z-index: 6;
}

.site-footer {
  position: relative;
  z-index: 4;
  background-color: #FFF;
  overflow: hidden;
  padding-bottom: 50px;
}
.site-footer:after {
  content: '';
  background: #FFF url("../img/sea.jpg") repeat-x center top;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.page-tools {
  font: normal 14px 'Edmondsans Regular', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  position: absolute;
  top: 20px;
  right: 20px;
}
.page-tools,
.page-tools a {
  color: #8CB5C8;
}



/*
 * Responsive
 * -----------------------------
 */

/* Small */
@media all and (max-width:600px) {
  .u-half,
  .u-two-third,
  .u-third,
  .u-one-fifth {
    width: 100%;
  }

  .u-padding-r {
    padding-right: 0;
  }
  .u-padding-l {
    padding-left: 0;
  }

  blockquote {
    font-size: 24px;
  }
}


/* X-Small */
@media all and (max-width:430px) {
  html {
    background-position: center -90px;
    min-height: 0;
  }
  body {
    font-size: 15px;
    line-height: 1.5em;
  }
  h2, h3 {
    font-size: 23px;
  }
  blockquote {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 20px;
  }
  blockquote:before {
    font-size: 100px;
    top: -60px;
  }
  blockquote:after {
    font-size: 100px;
    bottom: -50px;
  }

  .u-row {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .site-header {
    min-height: 0;
  }
  .site-header .u-row {
    padding-top: 55px;
  }
  .social-link {
    margin-right: 8px;
    margin-left: 8px;
  }

  .author {
    font-size: 40px;
  }
  .author-title {
    font-size: 20px;
  }

  .clients-list {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }

  .recognition-project {
    font-size: 20px;
  }
}